Body{
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 50px;
    width: 100%;
    text-align: center;
    border: 1px solid;
}

.login{
    text-align: center;
}

.boxDiv{
    height: 180px;
    border: 2px solid;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}

input{
    height: 20px;
    width :100%;
    display: inline-block;
    box-sizing: border-box;
}

p{
    text-align: center;
    position: absolute;
    bottom: 0;
    border: 1px solid;
    height: 200px;
    width: 100%;
}
table, td, th {
    border: 2px solid black;
}

table{
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 100%;
}

th{
    width: 33%;
    height: 20px;
}

td{
    width: 33%;
}

.titles{
    font-size: 20px;
    color: green;
}

.innertext{
    font-size: 16px;
    color: black;
}

.checkboxes{
    visibility: visible;
}

.hideOnRight{
    animation: slideRightHide 1s ease-in-out;
    transform: translate(200%);
}
@keyframes slideRightHide {
    0%{ transform: translate(0%); display:block}
    100%{ transform: translate(200%)}
}
.showFromLeft{
    animation: slideRightShow 1s ease-in-out;
    transform: translate(0%);
    display:block;
}
@keyframes slideRightShow {
    0%{ transform: translate(-200%); display:block}
    100%{ transform: translate(0%)}
}
.hideOnLeft{
    animation: slideLeftHide 1s ease-in-out;
    transform: translate(200%);

}
@keyframes slideLeftHide {
    0%{ transform: translate(0%); display:block}
    100%{ transform: translate(-200%);}
}
.showFromRight{
    animation: slideLeftShow 1s ease-in-out;
    transform: translate(0%);
    display: block;
}
@keyframes slideLeftShow {
    0%{ transform: translate(200%); display: block}
    100%{ transform: translate(0%)}
}